/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */

header#header {
    background-color: #fff;
}

#header .header-nav, #header .header-nav .blockcart  {
    background-color: #f5b2a4;
    color: #fff;
}
#header .header-nav .cart-preview.active {
    background-color: #f5b2a4;
}
#header a, #header a:hover {
    color: #fff;
}
#header .dropdown-item.dropdown-submenu {
    color: #000;
}
#header a.dropdown-item {
    color: #414141;
}
#header .header-top .position-static {
    margin:  20px 0 0;
    width: 100%;
}
body#checkout #header .header-nav {
    background-color: #fff;
    padding: 10px 0 10px;
}
body#checkout #header .header-nav a {
    color: #414141;
    cursor: pointer;
}
#products .thumbnail-container:hover .highlighted-informations,
.featured-products .thumbnail-container:hover .highlighted-informations,
.product-accessories .thumbnail-container:hover .highlighted-informations,
.product-miniature .thumbnail-container:hover .highlighted-informations {
    bottom: 1.25rem;
}
#products .thumbnail-container,
.featured-products .thumbnail-container,
.product-accessories .thumbnail-container,
.product-miniature .thumbnail-container {
    box-shadow: none;
    border: 1px solid rgba(0,0,0,.15);
    overflow: hidden;
}
#products .thumbnail-container:hover,
.featured-products .thumbnail-container:hover,
.product-accessories .thumbnail-container:hover,
.product-miniature .thumbnail-container:hover {
    outline: 2px solid rgba(0,0,0,.15);
}
#products .highlighted-informations,
.featured-products .highlighted-informations,
.product-accessories .highlighted-informations,
.product-miniature .highlighted-informations {
    box-shadow: none;
}
#products .thumbnail-container:hover .product-description,
.featured-products .thumbnail-container:hover .product-description,
.product-accessories .thumbnail-container:hover .product-description,
.product-miniature .thumbnail-container:hover .product-description {
    box-shadow: none;
}
.btn-primary {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
    color: #414141;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #ececec;
    border: 1px solid rgba(0,0,0,.15);
    color: #414141;
}
#blockcart-modal .modal-header {
    background: #f5b2a4;
}
.form-control:focus, .input-group.focus {
    outline: 1px solid rgba(0,0,0,.15);
}

@media (min-width: 768px) {
    .col-md-2 {
        width: 50%;
    }

    header#header .search-widget {
        position: absolute;
        top: 20%;
        right: 0;
    }
}

@media (max-width: 767px) {
    #header .header-nav, #header .header-nav .blockcart {
        background-color: #fff;
    }

    #header .header-top {
        background-color: #fff;
    }

    header#header .header-nav {
        background-color: #fff;
    }


    #footer .block_newsletter {
        border-bottom: none;
    }

    #footer {
        padding: 0 20px;
    }

    #footer .links {
        margin-left: 10px;
    }

    .container {
        padding: 0 5px;
    }

    .featured-products .all-product-link {
        margin-left: 38%;
    }

    .search-widget form input[type=text] {
        outline: 1px solid #e8e8e8;
    }

    .header-top .search-widget {
        padding: 0 15px;
    }

    .products-sort-order .select-title {
        width: 85%;
        border: 1px solid #e8e8e8;
    }
}

header#header .search-widget form input[type=text] {
    outline: 2px solid #f5b2a4;
    background: #fff;
}

header#header .search-widget form input[type=text]:focus {
    outline: 2px solid #f5b2a4;
}

#header .header-nav {
    border-bottom: none;
}

section#wrapper {
    background: #fff;
}

footer#footer {
    border-top: 1px solid #b6b6b6;
}
footer#footer .footer-container {
    border-top: 1px solid #b6b6b6;
    padding-top: 15px;
    padding-bottom: 15px;
}
body#checkout footer#footer {
    border: none;
}
footer#footer p,
footer#footer div,
footer#footer h4,
footer#footer h3,
footer#footer a,
#block_myaccount_infos .myaccount-title a {
    color: #656565;
}

footer input.btn-primary {
    background-color: #77878a;
}

footer .footer-container {
    padding-top: 0;
    box-shadow: none;
}
footer input.btn-primary {
    background-color: #fff;
}

.block_newsletter form input[type=text]:focus {
    border: 1px solid rgba(0,0,0,.15);
}

h1.products-section-title.text-uppercase {
    display: none;
}

/*!* Menu *!*/

/*#header .header-top .menu, #header .header-top .menu:before, #header .header-top .menu:after{*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    /*padding: 0;*/
    /*margin: 0;*/
/*}*/

/*#header .header-top .menu {*/
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*background: #fff;*/
    /*box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);*/
    /*border: 1px solid rgba(0,0,0,.1);*/
/*}*/

/*#header .header-top .menu ul{*/
    /*list-style: none;*/
    /*position: relative;*/
    /*float: right;*/
    /*margin-right: 100px;*/
    /*display: inline-table;*/
/*}*/
/*#header .header-top .menu ul li{*/
    /*float: left;*/
    /*-webkit-transition: all .2s ease-in-out;*/
    /*-moz-transition: all .2s ease-in-out;*/
    /*transition: all .2s ease-in-out;*/
/*}*/

/*#header .header-top .menu ul li:hover{background: rgba(0,0,0,.15);}*/
/*#header .header-top .menu ul li:hover > ul{display: block;}*/
/*#header .header-top .menu ul li{*/
    /*float: left;*/
    /*-webkit-transition: all .2s ease-in-out;*/
    /*-moz-transition: all .2s ease-in-out;*/
    /*transition: all .2s ease-in-out;*/
/*}*/
/*#header .header-top .menu ul li a{*/
    /*display: block;*/
    /*padding: 30px 20px;*/
    /*color: #222;*/
    /*font-size: .9em;*/
    /*letter-spacing: 1px;*/
    /*text-decoration: none;*/
    /*text-transform: uppercase;*/
/*}*/
/*#header .header-top .menu ul ul{*/
    /*display: none;*/
    /*background: #fff;*/
    /*position: absolute;*/
    /*top: 100%;*/
    /*box-shadow: -3px 3px 10px -2px rgba(0,0,0,.1);*/
    /*border: 1px solid rgba(0,0,0,.1);*/
/*}*/
/*#header .header-top .menu ul ul li{float: none; position: relative;}*/
/*#header .header-top .menu ul ul li a {*/
    /*padding: 15px 30px;*/
    /*border-bottom: 1px solid rgba(0,0,0,.05);*/
/*}*/
/*#header .header-top .menu ul ul ul {*/
    /*position: absolute;*/
    /*left: 100%;*/
    /*top:0;*/
/*}*/