/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */

header#header {
    background-color: #fff;
}

#header .header-nav, #header .header-nav .blockcart  {
    background-color: #f5b2a4;
    color: #fff;
}
#header .header-nav #menu-icon .material-icons {
    color: #000;
}
#mobile_top_menu_wrapper {
    padding: 10px;
}
#header .header-nav .cart-preview.active {
    background-color: #f5b2a4;
}
#header a, #header a:hover {
    color: #fff;
}
#header .dropdown-item.dropdown-submenu {
    color: #000;
}
#header a.dropdown-item {
    color: #414141;
}
#header .header-top .position-static {
    margin:  20px 0 0;
    width: 100%;
}
body#checkout #header .header-nav {
    background-color: #fff;
    padding: 10px 0 10px;
}
body#checkout #header .header-nav a {
    color: #414141;
    cursor: pointer;
}
#products .thumbnail-container:hover .highlighted-informations,
.featured-products .thumbnail-container:hover .highlighted-informations,
.product-accessories .thumbnail-container:hover .highlighted-informations,
.product-miniature .thumbnail-container:hover .highlighted-informations {
    bottom: 1.25rem;
}
#products .thumbnail-container:hover .highlighted-informations.no-variants, .featured-products .thumbnail-container:hover .highlighted-informations.no-variants, .product-accessories .thumbnail-container:hover .highlighted-informations.no-variants, .product-miniature .thumbnail-container:hover .highlighted-informations.no-variants {
    bottom: 1.25rem;
}
#products .thumbnail-container,
.featured-products .thumbnail-container,
.product-accessories .thumbnail-container,
.product-miniature .thumbnail-container {
    box-shadow: none;
    border: 1px solid rgba(0,0,0,.15);
    overflow: hidden;
}
#products .thumbnail-container:hover,
.featured-products .thumbnail-container:hover,
.product-accessories .thumbnail-container:hover,
.product-miniature .thumbnail-container:hover {
    outline: 2px solid rgba(0,0,0,.15);
}
#products .highlighted-informations,
.featured-products .highlighted-informations,
.product-accessories .highlighted-informations,
.product-miniature .highlighted-informations {
    box-shadow: none;
}
#products .thumbnail-container:hover .product-description,
.featured-products .thumbnail-container:hover .product-description,
.product-accessories .thumbnail-container:hover .product-description,
.product-miniature .thumbnail-container:hover .product-description {
    box-shadow: none;
}
.btn-primary {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
    color: #414141;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #ececec;
    border: 1px solid rgba(0,0,0,.15);
    color: #414141;
}
#blockcart-modal .modal-header {
    background: #f5b2a4;
}
.form-control:focus, .input-group.focus {
    outline: 1px solid rgba(0,0,0,.15);
}

.product-variants>.product-variants-item select {
    min-width: 3.75rem;
    background-color: #fff;
    width: inherit;
}
/* Content */
.carousel {
    margin-bottom: 0;
}
.carousel .carousel-inner {
    max-height: 450px;
    height: auto;
}
body.page-index section#wrapper {
    padding-top: 0;
    box-shadow: none;
}
section.featured-products.clearfix {
    width: 90%;
    margin: 0 auto;
}
section#wrapper .container {
    padding: 0;
    overflow: hidden;
}
@media (min-width: 1200px) {
    section#wrapper .container {
        max-width: 100%;
    }
}
@media (min-width: 992px) {
    section#wrapper .container {
        max-width: 100%;
    }
}
@media (min-width: 768px) {
    section#wrapper .container {
        max-width: 100%;
    }
}
@media (min-width: 544px) {
    section#wrapper .container {
        max-width: 100%;
    }
}

@media (max-width: 543px) {
    #category #left-column #search_filters_wrapper {
        margin-left: 0;
        margin-right: 0;
    }
}
@media (max-width: 767px) {
    #category #left-column #search_filters_wrapper {
        margin-left: 0;
        margin-right: 0;
    }
}
#wrapper .breadcrumb {
    padding: 0 15px;
}
div.recommended-products-link-all {
    width: 100%;
}
div.recommended-products-link-all a {
    float: none !important;
    margin: 0 auto;
    display: block;
    width: 135px;
}
div.ps_banner-bottom-banner {
    width: 100%;
}
div.ps_banner-bottom-banner a img {
    margin: 0 auto;
}

footer#footer .input-wrapper input {
    border: 1px solid rgba(0,0,0,.15);
    background: none;
}

.products-sort-order .select-title, .products-sort-order .dropdown-menu {
    border: 1px solid rgba(0,0,0,.15);
    background: #fff;
}
@media (max-width: 767px) {
    span.col-sm-3.col-md-3.hidden-sm-down.sort-by {
        width: 75%;
    }
}
@media (min-width: 768px) {
    div.row.products-selection .col-md-6 {
        width: 60%;
    }
}
div.col-sm-9.col-xs-8.col-md-9.products-sort-order.dropdown a {
    margin-left: 0;
}
span.col-sm-3.col-md-3.hidden-sm-down.sort-by {
    width: auto;
}
div.row.products-selection .col-md-6.hidden-sm-down.total-products {
    width: 40%;
}
@media (min-width: 768px) {
    .col-md-2 {
        width: 30%;
    }

    header#header .search-widget {
        position: absolute;
        top: -22px;
        right: 0;
    }
}

@media (max-width: 767px) {
    #products .thumbnail-container .product-description,
    .featured-products .thumbnail-container .product-description,
    .product-accessories .thumbnail-container .product-description {
        box-shadow: none;
    }
    #header .header-nav, #header .header-nav .blockcart {
        background-color: #fff;
    }

    #header .header-top {
        background-color: #fff;
    }

    header#header .header-nav {
        background-color: #fff;
    }


    #footer .block_newsletter {
        border-bottom: none;
    }

    #footer {
        padding: 0 20px;
    }

    #footer .links {
        margin-left: 10px;
    }

    .container {
        padding: 0 5px;
    }

    .featured-products .all-product-link {
        margin-left: 38%;
    }

    .search-widget form input[type=text] {
        outline: 1px solid #e8e8e8;
    }

    .header-top .search-widget {
        padding: 0 15px;
    }

    .products-sort-order .select-title {
        width: 85%;
        border: 1px solid #e8e8e8;
    }
}

header#header .search-widget form input[type=text] {
    outline: 2px solid #f5b2a4;
    background: #fff;
}

header#header .search-widget form input[type=text]:focus {
    outline: 2px solid #f5b2a4;
}

#header .header-nav {
    border-bottom: none;
}

section#wrapper {
    background: #fff;
}

footer#footer {
    border-top: 1px solid #b6b6b6;
}
footer#footer .footer-container {
    border-top: 1px solid #b6b6b6;
    padding-top: 15px;
    padding-bottom: 15px;
}
body#checkout footer#footer {
    border: none;
}
footer#footer p,
footer#footer div,
footer#footer h4,
footer#footer h3,
footer#footer a,
#block_myaccount_infos .myaccount-title a {
    color: #656565;
}

footer input.btn-primary {
    background-color: #77878a;
}

footer .footer-container {
    padding-top: 0;
    box-shadow: none;
}
footer input.btn-primary {
    background-color: #fff;
}
footer#footer .block_newsletter form input[type=text]:focus {
    padding: 11px;
}
h1.products-section-title.text-uppercase {
    display: none;
}

/*!* Menu *!*/
@import url(https://fonts.googleapis.com/css?family=Lato);
@media (max-width: 767px) {
    .mobile-shop-top-page-menu {
        display: block;
    }

    .shop-top-page-menu {
        display: none;
    }
}
@media (min-width: 768px) {
    .shop-top-page-menu {
        display: block;
    }
}
.mobile-shop-top-page-menu {
    display: none;
}
.shop-top-page-menu *, .shop-top-page-menu *:before, .shop-top-page-menu *:after {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
#header .shop-top-page-menu a,
#header .shop-top-page-menu a:hover {
    color: #222;
}
.shop-top-page-menu ul {
    font-family: 'Lato', sans-serif;
    z-index: 10;
}
.shop-top-page-menu li > ul {
    z-index: 11;
    background-color: #fff;
    white-space: nowrap;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, .1);
}
.shop-top-page-menu li {
    position: relative;
    display: inline-block;
    list-style: none;
    transition: all .2s ease-in-out;
    float: left;
}
.shop-top-page-menu li > ul li {
    float: none;
}
.shop-top-page-menu li:hover {
    background: rgba(0,0,0,.15);
}
.shop-top-page-menu li a {
    display: block;
    padding: 1em 1.5em;
    color: #222;
    text-decoration: none;
    transition: background .2s;
    text-transform: uppercase;
    font-size: .9em;
}
.shop-top-page-menu li ul li a {
    border-bottom: 1px solid rgba(0,0,0,.1);
}
/*dropdown menu styles*/
/*first level*/
.shop-top-page-menu ul li:hover > ul {
    left: 0;
}
.shop-top-page-menu ul ul {
    min-width: 100%;
    position: absolute;
    top: 100%;
    left: -9999em;
}
.shop-top-page-menu ul ul li {
    position: relative;
    display: block;
}
/*second level*/
.shop-top-page-menu ul ul li:hover > ul {
    left: 100%;
}
.shop-top-page-menu ul ul ul {
    position: absolute;
    left: -9999em;
    top: 0;
}
