/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */

header#header {
    background-color: #fff;
}

#header .header-nav, #header .header-nav .blockcart  {
    background-color: #313131;
}

@media (min-width: 768px) {
    .col-md-2 {
        width: 50%;
    }

    .search-widget {
        position: absolute;
        top: 20%;
        right: 0;
    }
}

@media (max-width: 767px) {
    #header .header-top {
        background-color: #fff;
    }

    header#header .header-nav {
        background-color: #fff;
        color: #acaaa6;
    }

    .footer-container .links .h3 {
        color: #acaaa6;
    }

    #footer .block_newsletter {
        border-bottom: none;
    }

    #footer {
        padding: 0 20px;
    }

    #footer .links {
        margin-left: 10px;
    }

    .container {
        padding: 0 5px;
    }

    .featured-products .all-product-link {
        margin-left: 38%;
    }

    .search-widget form input[type=text] {
        outline: 1px solid #e8e8e8;
    }

    .header-top .search-widget {
        padding: 0 15px;
    }

    .products-sort-order .select-title {
        width: 270px;
        border: 1px solid #e8e8e8;
    }
}

.search-widget form input[type=text] {
    outline: 2px solid #e2e2e2;
    background: #fff;
}

.search-widget form input[type=text]:focus {
    outline: 2px solid #afafaf;
}

#header .header-nav {
    border-bottom: none;
}

#header .header-nav a {
    color: #acaaa6;
}
section#wrapper {
    background: #fff;
}

footer#footer {
    background-color: #313131;
}

footer#footer h4, footer#footer h3, #block_myaccount_infos .myaccount-title a {
    color: #acaaa6;
}

footer input.btn-primary {
    background-color: #77878a;
}

footer .footer-container {
    padding-top: 0;
}

.block_newsletter form input[type=text]:focus {
    border: solid 2px #77878a;
}

h1.products-section-title.text-uppercase {
    display: none;
}